<div>
<h1>Please login</h1>
<%= form_with(scope: :session, url: login_path, local: true) do |form| %>

    <%= form.label :email%>
    <%= form.email_field :email, id:'user_email', placeholder: "Enter your email address" %>
    <%= form.submit "Log in"%>
<% end %>
<h4>New user ? <a href= <%= new_user_path %> >  Sign up </a> </h4>
</div>
