<%= provide(:title, "User-Events") %>
<section>

    <%= link_to 'Home', root_path %>
    <h2>Events created by You </h2> 
  <div>
      <div>
        <span><%= pluralize(@events.count, "events") %></span>
      </div>

      <div>
        <span> <%= pluralize(@events.upcoming_events.count, "upcoming events") %>
        </span>
      </div>

      <div>
        <span><%= pluralize(@events.previous_events.count, "previous events") %></span> 
      </div>
  </div>

    <div>
      <% @events.each do |event| %>
      <div>
        <p><%= event.date %></p>
        <div>
          <p><%= event.description %></p>
          <p><%= event.location %></p>
        </div>
      </div>
      <% end %>
    </div>

  <div>
   <br>Upcoming Events that you marked as atendee:</h2>
    <div>
      <% @events.upcoming_events.each do |event| %>
      <div>
        <p> <%= event.date %></p>
        <div>
          <p>Event Description: <%= event.description %></p>
          <p>Event Location: <%= event.location %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div>
    <h2>Past events that you created</h2>
    <div>
      <% @events.previous_events.each do |event| %>
      <div>
        <p><%= event.date %></p>
        <div>
          <p>Event Description: <%= event.description %></p>
          <p>Event Location: <%= event.location %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>