<!DOCTYPE html>
<html>
  <head>
    <title>Events Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <div>
            <% if current_user %>
          <strong > <a href=  <%= my_events_path %> > <%= current_user.username %> </a> </strong>
          <a href=  <%= logout_path %>> Sign out </a>
        <% else %>
          <a href= <%= login_path %> > Sign in / Sign up </a>
        <% end %>
    </div>
  </header>

    <% flash.each do |key , msg|%>
      <% if key === 'notice' %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% elsif key === 'alert' %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong> <%= msg %> </strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
    <% end %>


    <%= yield %>
  </body>
</html>
