<!DOCTYPE html>
<html>
  <head>
    <title>Private Events</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header>
    <nav class="navbar d-flex justify-content-end px-4">
        <% if current_user %>
          <strong > <a href=  <%= my_events_path %> class="btn btn-primary" > <%= current_user.username %> </a> </strong>
          <a href=  <%= logout_path %> class="btn btn-secondary"> Sign out </a>
        <% else %>
          <% if !current_page?(root_path)%>
            <a href= <%= root_path %> class="btn btn-primary"> Home </a>
          <% else %>
            <a href= <%= login_path %> class="btn btn-primary mr-2"> Login </a>
            <a href= <%= new_user_path%>  class="btn btn-secondary"> Sign Up </a>
          <% end %>
        <% end %>
    </nav>
  </header>

    <% flash.each do |key , msg|%>
      <% if key === 'notice' %>
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% elsif key === 'alert' %>
      <div class="alert alert-danger alert-dismissible fade show w-50 mx-auto" role="alert">
        <strong> <%= msg %> </strong> 
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% end %>
    <% end %>

    <main class="container">
      <%= yield %>
    </main>
  </body>
</html>
